

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img class="mb-3 w-100" src="~/images/bern.jpg" />
        </div>
    </div>
</section>

<section class="comtainer">
    <div class="row">
        <div class="col-md-8">
            <div class="text-justify">
                <h2>Bern</h2>
                <p>City in Switzerland · Ideal stay duration: 1 days</p>
                <p>A powerful force since medieval times, the thriving Swiss capital is an appealing city of museums and collections. Bernmobil is the capital's transport system; a BernCard is valid on its trams and buses. A free bike service is also an option for getting around. The Historical Museum and the Collection of the Bern Museum of Fine Arts house the art and architecture of millennia. The Einstein House and the Paul Klee Centre showcase the work of two of Bern's famous former inhabitants. </p>
                <p><strong>Mostly popular for:</strong> Museum, Architecture, Historical, Arts & Culture</p>
                <p><strong>Best time to visit: </strong>August · Avg. 4.3 in precip · Avg. H 75°F · L 57°F</p>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</section>


<div>
    <h3>Points of interest</h3>
</div>

<div class="card-deck">
    <div class="card">


        <img />
        <img class="card-img-top" src="~/images/bern1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Munstaplaz</h5>
            <p class="card-text">Architecture, Landmark, Outdoors.</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/bern2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Stade De Suisse</h5>
            <p class="card-text"><small class="text-muted">Sports & Outdoors,Emtertaiment & Leasure</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/bern3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Zentrum Paul Klee</h5>
            <p class="card-text">Museum, Art &Aacute; Culture, Family & Kids</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/bern4.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Dampfzentrale</h5>
            <p class="card-text">Architecture.</p>
        </div>
    </div>

</div>

<div class="card-deck mt-4">
    <div class="card">
        <img />
        <img class="card-img-top" src="~/images/bern5.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kunsthalle Berm</h5>
            <p class="card-text">Museum, Art &Aacute; Culture, Shopping.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/bern6.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Tierpark Dahlholzli</h5>
            <p class="card-text">Zoos & Aquariums, Parks and Natures</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/bern7.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Zahringerbrumen</h5>
            <p class="card-text">Historical, Landmark, Outdoors.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/bern8.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Westside Shopping & Leasure Center</h5>
            <p class="card-text">Shopping, Family & Kids.</p>
        </div>
    </div>
</div>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=46.1922988844812~5.219898437500015&lvl=9&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
                </iframe>
                <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
                    <a id="largeMapLink" href="https://www.bing.com/maps?cp=46.1922988844812~5.219898437500015&amp;sty=r&amp;lvl=9&amp;FORM=MBEDLD" target="_blank">View Larger Map</a> &nbsp; | &nbsp;
                    <a id="dirMapLink" href="https://www.bing.com/maps/directions?cp=46.1922988844812~5.219898437500015&amp;sty=r&amp;lvl=9&amp;rtp=~pos.46.1922988844812_5.219898437500015____&amp;FORM=MBEDLD" target="_blank">Get Directions</a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>
