


<div class="text-center"><h2>FREQUETLY ASKED QUESTIONS</h2></div>
    <div>
<img class="mb-3" src="~/images/faq.jpg" />
    </div>

    <div><p>While few truly independent travelers look forward in rapt anticipation to a guided tour, many will admit to a pang of curiosity (or, as the times would have it, FOMO) when they overhear a gifted guide explaining the history and context of a place. Even those who love wandering around on their own have likely experienced the benefits of an intimate small-group tour with a local expert.</p>
         <p>If this seems familiar at all, and you are considering hiring a guide on an upcoming trip, here are some questions to ask before booking a tour.</p>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1. Is the tour tailored to beginners or experts?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    If you are going on a specialty tour (history, art, cooking) and you already know a lot about the subject, you might be bored silly by information that a non-expert would find fascinating. The reverse also applies; dense art historical information may not appeal to a lay person, for example.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                       2. Does the tour guide speak throughout, or is it an audio tour with headphones or other media?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Will you be learning from an individual or listening to a taped expert played over headphones? Each has its pros and cons; the former is ideal if you like to ask lots of questions and interact with an expert, while an audio guide allows you to customize the volume and go at your own pace.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      3. Who is your guide?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Are the guides locals? Trained historians? Degreed naturalists? Whoever the company could find who needed a job? The personality and knowledge of your tour guide can make all the difference.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        4. In what language(s) will the tour be given?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Clearly you will want the tour to be given in a language with which you have a degree of fluency so you won’t miss any important points. If the tour will be given in more than one language, you may want to ask if one language will be considered the main one for the tour. For some tours, translating to several languages can reduce the amount of time and detail the tour guide can give you, and often the information in one language is more cursory than another.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        5. Is it all-inclusive, or will you have to pay additional admission fees?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    If you will be visiting attractions during the tour, the price of the tour may be completely separate from the admission to those attractions. Be sure you budget for such additions so you don’t miss out on part of the tour.
                    Another way to ask this: What is not included?
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        6. Is food provided?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    If the tour bridges a mealtime, ask if food is included in the price of the tour. If not, will there be time and opportunity to purchase something, or should you bring your own snacks? If food is available, what options are there? You’ll want to make sure the offerings suit your taste and dietary limitations.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        7. What weather can you expect?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    If your tour requires you to go up a gondola to a mountaintop covered with mist, or to get on a windy ferry to an island, or to walk for two hours in the summer heat, you’ll want to know ahead of time so you can dress appropriately. 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        8. How much physical exertion is required?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Unless it is a bus or boat tour, most guided tours require you to walk a bit. Find out how far, whether hills or stairs are involved and what shoes would be most appropriate.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        9. Is the tour kid-friendly/handicap-accessible/etc.?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    If you or anyone in your group has any special needs, even if they are as simple and common as being a young and restless kid, ask ahead of time if the tour will work well for that person.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Who is your guide?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Are the guides locals? Trained historians? Degreed naturalists? Whoever the company could find who needed a job? The personality and knowledge of your tour guide can make all the difference.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        10. Where does the tour pick up and drop off?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    This seems like an uncomplicated issue, but that’s not always the case. Many tours operate without official offices, so they might meet at street corners, near a famous statue, on the steps of a museum … you get the idea. Take the time to map out how to get there from your lodging, as this is often the most difficult part of taking a tour (go figure).
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        11. How long is the tour?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    You know your own threshold for being led around and told stuff; some may want hours and hours of information, while others want concise overviews before going on their own again.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        12. How much time is spent in each place?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Sometimes folks on tours complain of having been rushed through a place they really wanted to see and absorb, while others report having had to linger over something in which they had little interest. If there are specific stops on the tour that are (or are not) important to you, a little research will help make sure you see what you want to see, and not more or less.
                </div>
            </div>
        </div>
    </div>
