
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img class="mb-3 w-100" src="~/images/genova2.jpg" />
        </div>
    </div>
</section>

<section class="comtainer">
    <div class="row">
        <div class="col-md-8">
            <div class="text-justify">
                <h2>Geneva</h2>
                <p>City in Switzerland · Ideal stay duration: 2 days</p>
                <p>Geneva is a city in Switzerland that lies at the southern tip of expansive Lake Geneva. Headquarters of Europe's United Nations and the Red Cross, it's a global hub for diplomacy and banking. </p>
                <p><strong>Mostly popular for:</strong> Architecture, Museum, Landmark, Entertainment, Monument</p>
                <p><strong>Best time to visit: </strong>July · Avg. 3.5 in precip · Avg. H 80°F · L 59°F</p>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</section>


<div>
    <h3>Points of interest</h3>
</div>

<div class="card-deck">
    <div class="card">


        <img />
        <img class="card-img-top" src="~/images/gen1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Palace of Nations</h5>
            <p class="card-text">Landmark, Outdoors.</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gen3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">St Pierre Cathedra</h5>
            <p class="card-text"><small class="text-muted">Architecture, Landmark, Religious site</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gen4.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Geneva Motor Show</h5>
            <p class="card-text">Entertainment.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gen2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Palexpo</h5>
            <p class="card-text">Architecture.</p>
        </div>
    </div>

</div>

<div class="card-deck mt-4">
    <div class="card">
        <img />
        <img class="card-img-top" src="~/images/gen5.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Reformation Wall</h5>
            <p class="card-text">Monumental, Architecture, Landmark.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gen6.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Stade De Geneve</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gen7.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">International Red Cross</h5>
            <p class="card-text">Museum, Family & Kids.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gen8.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">SEG Geneva Arena</h5>
            <p class="card-text">Architecture</p>
        </div>
    </div>
</div>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=46.1922988844812~5.219898437500015&lvl=9&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
                </iframe>
                <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
                    <a id="largeMapLink" href="https://www.bing.com/maps?cp=46.1922988844812~5.219898437500015&amp;sty=r&amp;lvl=9&amp;FORM=MBEDLD" target="_blank">View Larger Map</a> &nbsp; | &nbsp;
                    <a id="dirMapLink" href="https://www.bing.com/maps/directions?cp=46.1922988844812~5.219898437500015&amp;sty=r&amp;lvl=9&amp;rtp=~pos.46.1922988844812_5.219898437500015____&amp;FORM=MBEDLD" target="_blank">Get Directions</a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>