

<section class="container jumbotron">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="border:hidden; background-color:snow">
            <div>
                <h2 style="color:pink" class="text-center">Query Form</h2>
                <p style="color:pink" class="text-center">Any complain on your trip? We will be pleased to hear from you.</p>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputAddress" placeholder="First Name" />
                </div>
                <div class="form-group col-md-6">
                    <input " type="text" class="form-control" id="inputEmail4" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" id="inputAddress" placeholder="Enter Message Here" rows="8"></textarea>

                <div class="text-center pb-5 mt-4">
                    <a asp-controller="Book" asp-action="Create" class="btn btn-block btn-secondary text-center bg-info">Send</a>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <p>How would you rate the tour</p>
                    <p class="mt-2">How would you rate the tour guide</p>
                    <p class="mt-2">Did the tour give you a true feel for the country?</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                    <p class="mt-2 pb-3"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                    <p class="mt-2"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">


        </div>
    </div>
</section>