
@{
    ViewData["Title"] = "About";
}
    <div class="text-center">
        <h1>About Us</h1>
        <p>Meet the Team behind our fabulous trips</p>
    </div>

<section class="container">
    @*<div class="row">
            <div class="col-md-3">

            </div>
        </div>*@

    <div class="card-deck">
        <div class="card">
            <img src="~/images/md1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">JAMES MATT</h5>
                <p class="card-text">MANAGING DIRECTOR</p>
                <p class="card-text"><small class="text-muted">James has been working in the travel industry for more than 25 years and he has owned and run several companies in the UK and Ireland including Mackenzie River Travel.</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/md2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">
                    MARTA KUCHARCZYK
                </h5>
                <p class="card-text"> DIRECTOR </p>
                <p class="card-text"><small class="text-muted">Marta’s background is varied. She has worked as a teacher in Poland and attended university in Krakow. She joined Cashel Travel in 2003 initially in the accounts department. </small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/md3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">
                    BRAD JAMES
                </h5>
                <p class="card-text">
                    GENERAL MANAGER
                </p>
                <p class="card-text"><small class="text-muted">Kim initially joined Great British Trips as their first employee early in 2011 following five years of working with the senior leadership team of a large charity. </small></p>
            </div>
        </div>
    </div>

    <div class="card-deck mt-4">
        <div class="card">
            <img src="~/images/md4.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">BRYAN ROSE</h5>
                <p class="card-text">OPERATIONS EXECUTIVE</p>
                <p class="card-text"><small class="text-muted">
    Originally from France, Rose studied tourism and initially came to Great British Trips on an internship in 2011 as part of her course. Manchester worked its charm and she returned after finishing her degree and has worked full time with us since 2012.
</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/md5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">JOHN STONE</h5>
                <p class="card-text">SALES AND OPERATIONS EXECUTIVE</p>
                <p class="card-text"><small class="text-muted">
    Stone is the most recent addition to the team but comes to us with eight years in the travel and tourism industry. He prides himself on remembering all the little things (and then some!) that ensure our holidays are in safe hands .
</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/md6.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">ANGEL BLESSING</h5>
                <p class="card-text">SALES AND OPERATIONS EXECUTIVE</p>
                <p class="card-text"><small class="text-muted">Born in Romania and living abroad for 4 years, Blessing has always searched for new experiences and challenges to help her develop both personally and professionally.</small></p>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-6 pt-4 mt-4">
        <img src="~/images/family.jpg" class="w-100 img-fluid"/>
        </div>
        <div class="col-md-6 pt-4 mt-4" style="background-color:black">
            <h1 style="color:pink">Get in touch with us</h1>
            <h2 style="color:white">Get Best Travel Deals</h2>
            <p style="color:white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p style="color:white">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p style="color:white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <div class="row pb-4">
                <div class="col-md-3"><a asp-controller="Book" asp-action="Create" class="btn btn-info text-center">Book Now</a></div>
                <div class="col-md-3"><a asp-controller="Book" asp-action="Create" class="btn btn-secondary text-center">Contact Us</a></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</section>